# Emotion Recognition Project
# Python 3.10.x

# Core
numpy==1.26.4
pandas==2.3.3

# Deep Learning
torch==2.5.1
torchvision==0.20.1

# Evaluation / Metrics
scikit-learn==1.7.2

# Visualization
matplotlib==3.10.9

# Image / Camera
opencv-contrib-python==4.9.0.80
Pillow==12.3.0

# Jetson app compatibility
sympy==1.13.1

# Jupyter Notebook
ipykernel==6.31.0